<%- include('partials/header') %>
<style>
    .container {
      overflow-y: auto;
      height: 130px;
    }
    th {
      position: sticky;
      top: 0;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th,td {
      padding: 5px 10px;
      border: 2px solid #626d5c;
      text-align: center;
    }
  </style>
<div class="mx-5 mt-3">
  <h1><%= pageTitle %></h1>
  <% if (typeof showDateLimits!= "undefined" && showDateLimits) { %>
    <% if (reportStartDate != '' || reportEndDate != '') { %>
    <h2><%= reportStartDate %> &mdash; <%= reportEndDate %></h2>
    <% } %>
    <form action="/stats/summary" method="get">
      <div class="form-group">
        <label for="reportStartDate">Start Date:</label>
        <input type="date" id="reportStartDate" name="reportStartDate" value="<%= reportStartDate %>">
      </div>
      <div class="form-group">
        <label for="reportEndDate">End Date:</label>
        <input type="date" id="reportEndDate" name="reportEndDate" value="<%= reportEndDate %>">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  <% } %>
  <% if (typeof downloadLink != 'undefined' && downloadLink) { %>
    <a href="<%= downloadLink %>" download>Download as CSV</a>
  <% } %>
  <%- table %>
</div>
<%- include('partials/footer') %>